.corpoCategoria{
    display: flex;
    margin-bottom: 30px;
}
.corpoCategoria ul{
    text-align: center;
    list-style-type: none;
}
.corpoCategoria li{
    text-align: center;
    margin: 5px 0;
    padding: 5px;
    border-bottom: solid .5px black;
}