form{
    padding: 15px 0 15px 10px;
    width: 200px;
    position: absolute;
    right: 50px;
    top: 55px;
    background-color: rgb(255, 255, 255, 0.8);
}

#tipo{
    display: flex;
    margin-bottom: 5px;
}

.campoform{
    margin: 2px;
    padding: 7px;
}
  
.botao{
    color: black;
    font-weight: bold;
    background-color: #ffcc00;
    border: none;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
}

.botao:hover{
    box-shadow: 3px 3px 2px grey;
}

@media only screen and (max-width: 500px) {
    form{
        padding: 7.5px 0 7.5px 5px;
        width: 100px;
        top: 25px;
        right: 15px;
    }

    .campoform{
        width: 70px;
        height: 0;
        font-size: .5em;
    }

    #tipo{
        margin-bottom: 0;
    }

    #tipo .campo{
        display: flex;
        align-items: center;
        font-size: 7px;
    }
    #tipo input{
        width: 8px;
    }

    .botao{
        width: 60px;
        padding: 5px 0 5px 0;
        font-size: 7px;
    }

}