/* Banner principal */
#imgPrinc{
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
}
/* Barra transparente do cabecalho */
.cabecalho{
  background-color: rgba(255, 255, 255, 0.7);
  color: #234562;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
}
/* Chega disso Título */
#titulo{
  font-size: 20pt;
  width: 100%;
  text-transform: uppercase;
  font-weight: bold;
}
#titulo:hover{
  color: #f8b152;
}
/* Sobre e Contato */
.link{
  display: flex;
  align-items: center;
  font-weight: 900;
  text-transform: uppercase;
}
#sobre{
  padding-right: 20px;
}

/* Ícones */
.icones{
  display: flex;
  align-items: center;
}