/* Banner principal */
#imgPrinc{
  position: relative;
  z-index: -1;
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  /* max-height: 400px; */
}
/* Barra transparente do cabecalho */
.cabecalho{
  background-image: linear-gradient(white, rgba(255, 255, 255, 0.4));
  color: #234562;
  width: 100%;
  height: 50px;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  font-family: Open Sans;
}
/* Chega disso Título */
#titulo{
  font-size: 20px;
  width: 100%;
  text-transform: uppercase;
  font-weight: 800;
}
#titulo:hover{
  color: #f8b152;
}
#titulo span{
  font-family: PT Serif Caption;
  font-size: 22px;
}
/* Sobre e Equipe e Categorias */
.link{
  display: flex;
  align-items: center;
  font-weight: bold;
  text-transform: uppercase;
}
#sobre{
  padding-right: 20px;
}

/* Ícones */
.icones{
  display: flex;
  align-items: center;
}
.icones a{
  height: 42px;
  width: 42px;
}

@media only screen and (max-width: 500px) {
  .cabecalho{
    height: 40px;
  }
  .link , #titulo{
    font-size: .5em;
  }
  .icon{
    height: 35px;
    width: 35px;    
  }
  .icones a{
    height: 35px;
    width: 35px;
  }
  #imgPrinc{
    min-height: 150px;
  }
}