.menu{
    text-align: left;
    width: 180px;
    background-color: #014363;
    border: black solid 1px;
    position: relative;
    margin-left: auto;
    margin-right: 60px;
    margin-top: 10px;
}
  
.menu .menu1{
    padding: 10px 20px 0 20px;
}
  
.menu .menu2{
    padding: 10px 20px 100px 20px;
}
  
.menu p{
    margin: 5px;
    color: white;
    font-size: 10px;
    font-weight: bold;
}
  
.menu .menutitulo {
    color: #e5a434;
    font-size: 15px;
    text-transform: uppercase;
}