/* Menu toggle */
.menuToggle{
    display: none;
    position: absolute;
    width: 15%;
    top: 50px;
    left: 40%;
    background-color: #FFA231;
    z-index: 2;
    font-size: 1.2em;
}

.link span{
    margin-right: 10px;
}
  
#linkMenu{
    cursor: pointer;
    margin-right: 10px;
}

.menu-home-container{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.menu-cat{
    text-align: center;
}
.menu-cat a{
    margin: 10px 2px;
    font-weight: bold;
}

@media only screen and (max-width: 500px) {
    .menuToggle{
        top: 40px;
        width: 20%;
        left: 25%;
        font-size: .7em;
    }
}