.corpo_resumo{
    position: relative;
    display: block;
    width: 80%;
    margin-bottom: 50px;
    margin-top: 25px;
}
  
.container.resume {
    display: flex;
    margin-bottom: 20px;
    padding-left: 15%;
}
  
.resume1 {
    width:auto;
    padding: 10px 0 0 10px;
    text-align: left;
    vertical-align: middle;
}
  
.resume1 h1{
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 0;
}
.resume1 p{
    margin-top: 0;
}

/* Foto */
.foto {
    width: 365px;
    height: 192px;
}

@media only screen and (max-width: 500px) {

    .container.resume{
        display: inline-block;
    }

    .resume1 h1{
        font-size: 1.25em;
    }
    .resume1 p{
        font-size: .75em;
    }

    .foto{
        width: 200px;
        height: 100px;
    }
}