.corpo_resumo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
  
.container.resume {
    display: inline-block;
    width: 365px;
    margin-bottom: 30px;
    margin: 20px 20px;
}
  
.resume1 {
    width:auto;
    padding: 10px 0 0 10px;
    text-align: left;
    vertical-align: middle;
}
  
.resume1 h1{
    font-family: Pt serif;
    font-size: 32px;
    color: #222222;
    margin-bottom: 5px;
    margin-top: 0;
}
.resume1 p{
    font-family: Open Sans;
    color: #222222;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 7px;
}

.resume1 .saibamais{
    font-family: Open sans;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 15px;
    margin: 0;
    color:#fea13e;
}

/* Foto */
.foto {
    width: 365px;
    height: 192px;
}

/* Botão ver mais */
#verMais{
    background-color: transparent;
    width: 150px;
    position: relative;
    left: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-transform: uppercase;
    border: none;
    font-weight: bolder;
    font-size: 18px;
    color: #234562;
}
#verMais:hover{
    box-shadow: 0px 0px 15px 5px grey;
}

@media only screen and (max-width: 500px) {

    .container.resume{
        width: 280px;
    }
    .container.resume .foto{
        width: 100%;
        height: auto;
    }

    .resume1 h1{
        font-size: 1.25em;
    }
    .resume1 p{
        font-size: .75em;
    }

    .foto{
        width: 200px;
        height: 100px;
    }
}