.corpo_resumo{
    position: relative;
    display: block;
    width: 80%;
    margin-bottom: 200px;
}
  
.container.resume {
    display: flex;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 10%;
}
  
.resume1 {
    width:auto;
    padding: 10px 0 0 10px;
    text-align: left;
    vertical-align: middle;
}
  
.resume1 h1{
    font-size: 25px;
    margin-bottom: 5px;
    margin-top: 0;
}
.resume1 p{
    margin-top: 0;
}

/* Foto */
.foto {
    width: 365px;
    height: auto;
}