.container_texto{
    margin: 0 10%;
}

.titulo_texto{
    text-align: left;
    color: #014363;
}
  
.corpo_texto {
    text-align: justify;
    margin-bottom: 100px;
}
  
.titulo_texto h1{
    margin-bottom: 0;
    font-size: 2em;
}

p.subtitle{
    margin-top: 0;
    font-weight: 750;
}
  
#quadrado_texto {
    width: 80px;
    height: 80px;
    background-color: #014363;
    float: left;
    position: absolute;
    left: 80px;
}
  
.foto_texto{
    display: block;
    margin: 10px auto 20px;
    width: 50%;
    height: 50%;
    max-width: 1024px;
    max-height: 539px;
}

/* Link do vídeo do youtube */
.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
    
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.video-wrap{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

/* Meme Dino */
.memeDino{
    display: block;
    margin: 0 auto 20px;
    width: 100%;
    height: 100%;
    max-width: 150px;
    max-height: 150px;
}

/* Foto Eladi */
#Cassia{
    display: block;
    margin: 10px auto 20px;
    width: 50%;
    height: 50%;
    max-width: 1024px;
    max-height: 539px;
}
figcaption{
    text-align: center;
}

/* Listas */
.corpo_texto li{
    margin-bottom: 10px;
}

/* Categoria dos textos */
#categoria-texto{
    font-family: Open Sans;
    color: #222222;
    font-size: 18px;
    font-style: italic;
}

@media only screen and (max-width: 500px) {
    .titulo_texto h1{
        font-size: 1.15em;
    }
    p.subtitle, p.conteudo, .corpo_texto ul, li{
        font-size: .75em;
    }

    .corpo_texto h2{
        font-size: 1em;
    }

    .foto_texto{
        width: 280px;
        height: 147px;
    }

    .memeDino{
        max-width: 70px;
        max-height: 70px;
    }
    #imagemCatia img{
        max-height:150px;
    }
}